<app-navigation
  *ngIf="!currentRoute.startsWith('/ReportViewer')"
  class="pcoded-navbar menupos-fixed menu-light"
  [ngClass]="{
    'navbar-collapsed': navCollapsed,
    'mob-open': navCollapsedMob
  }"
  (NavCollapsedMob)="navMobClick()"
></app-navigation>
<!-- <app-side-bar></app-side-bar> -->
<app-nav-bar
  class="navbar pcoded-header navbar-expand-lg navbar-light header-blue headerPos-fixed"
  (NavCollapse)="this.navCollapsed = !this.navCollapsed"
  (NavCollapsedMob)="navMobClick()"
></app-nav-bar>
<div class="pcoded-main-container">
  <div class="pcoded-wrapper">
    <div class="pcoded-content">
      <div class="pcoded-inner-content">
        <div class="main-body">
          <div class="page-wrapper">
            <app-breadcrumb></app-breadcrumb>
            <ng-container
              *ngIf="
                currentRoute !== '/analytics' &&
                currentRoute !== '/userProfile' &&
                currentRoute !== '/businessDashboard' &&
                currentRoute !== '/menuPermission' &&
                currentRoute !== '/appPermission' &&
                !currentRoute.startsWith('/ReportViewer')
              "
            >
              <!-- <app-button-control ></app-button-control> -->
              <div class="content-wrapper">
                <app-page-header-breadcrumb></app-page-header-breadcrumb>

                <section class="content">
                  <div class="container-fluid">
                    <!-- Use the Layout Class row from here, to implement the rest Design within the content box (content>container-fluid>row>col-md-n)  -->
                    <div class="row mt-3 p-3 rounded main-bg bg-shadow">
                           <router-outlet
          
            ></router-outlet>
                    </div>
                  </div>
                </section>

                <app-footer></app-footer>
              </div>
            </ng-container>

    
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="pc-menu-overlay" (click)="closeMenu()" (keydown)="handleKeyDown($event)" tabindex="0"></div>
</div>
<app-configuration></app-configuration>
