<!-- ------------------------------------ Footer Start ------------------------------------ -->
<footer class="main-footer bg-shadow">
  <strong>
    Copyright &copy; {{ currentYear }}
    <a href="#">Tech</a>
    .
  </strong>
  All rights reserved.
  <div class="float-right d-none d-sm-inline-block">
    <b>Version</b>
    1.0.0
  </div>
  <!-- Back to Top Button Start-->
  <button class="back-to-top" *ngIf="showButton" (click)="scrollToTop()" aria-label="Back to top">↑ Back to Top</button>
  <!-- Back to Top Button End-->
</footer>
<!-- ------------------------------------ Footer End ------------------------------------ -->
